<div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">Lista de Hombres</h5>
                <a href="/genero/masculino" class="btn btn-primary">Ir</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">Lista de Mujeres</h5>
                <a href="/genero/femenino" class="btn btn-primary">Ir</a>
            </div>
        </div>
    </div>
</div>