<nav class="navbar navbar-expand-lg bg-green" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="/">DENDE Spa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/pacientes">Pacientes</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/id">Id</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/genero">Genero</a></li>
            </ul>
        </div>
    </div>
</nav>